<div class="modal-atualizacao">
    <div class="modal-header">
        <h5 class="modal-title">{{informacoesSobreOCurso.titulo}}</h5>
        <button type="button" class="close pull-right" aria-label="Fechar" (click)="fechar()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><b>Horário: </b>{{informacoesSobreOCurso.horario}}</p>
        <p><b>Periodicidade: </b>{{informacoesSobreOCurso.periodicidade}}</p>
        <p><b>Carga Horária: </b>{{informacoesSobreOCurso.cargaHoraria}}</p>
        <p><b>Unidade: </b>{{informacoesSobreOCurso.unidade}}</p>
        <hr>
        <p><b>Público-alvo: </b>{{informacoesSobreOCurso.publicoAlvo}}</p>
        <p><b>Benefícios: </b>{{informacoesSobreOCurso.beneficios}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="fechar()">Fechar</button>
    </div>
</div>