<div class="modal-pos">
    <div class="modal-header">
        <h4 class="modal-title">{{informacoesSobreOCurso.nomeCurso}}</h4>
        <button type="button" class="close pull-right" aria-label="Fechar" (click)="fechar()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><b>Modalidade: </b>{{informacoesSobreOCurso.modalidade}}</p>
        <p><b>Duração do curso: </b>{{informacoesSobreOCurso.duracao}}</p>
        <p><b>Frequência: </b>{{informacoesSobreOCurso.frequencia}}</p>
        <p><b>Carga horária: </b>{{informacoesSobreOCurso.cargaHoraria}}</p>
        <p><b>Título: </b>{{informacoesSobreOCurso.titulo}}</p>
        <hr>
        <p><b>Público-alvo: </b>{{informacoesSobreOCurso.publicoAlvo}}</p>
        <p><b>Competências desenvolvidas: </b>{{informacoesSobreOCurso.competencias}}</p>
        <p><b>Diferencial: </b>{{informacoesSobreOCurso.diferencial}}</p>
        <p><b>Metodologia: </b>{{informacoesSobreOCurso.metodologia}}</p>
        <p><b>Avaliação de aprendizagem: </b>{{informacoesSobreOCurso.avaliacao}}</p>
        <p><b>Organização de tempo: </b>{{informacoesSobreOCurso.organizacao}}</p>
        <p><b>Pré-requisito: </b>{{informacoesSobreOCurso.preRequisito}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="fechar()">Fechar</button>
    </div>
</div>