<div class="row botoes-pesquisa ml-5 mt-5">
    <h5>Pesquisar por:</h5>
    <div class="btns">
        <button type="button" class="btn btn-outline-primary ml-3">Gestão</button>
        <button type="button" class="btn btn-outline-primary ml-3">Direito</button>
        <button type="button" class="btn btn-outline-primary ml-3">Educação</button>
        <button type="button" class="btn btn-outline-primary ml-3">Moda</button>
        <button type="button" class="btn btn-outline-primary ml-3">Saúde</button>
        <button type="button" class="btn btn-outline-secondary ml-3">Remover Filtro</button>
    </div>
</div>