header {
    height: 100%;
    color: #FFF;
    background-color: rgb(13, 80, 153);
    height: 90px;
    transition: all .3s ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
    box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);

    > .container-fluid {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        padding: 0 20px;

        .stack-item {
            vertical-align: middle;

            .menu-toggler,
            ul.navbar-nav li {
                > i.icons {
                    font-size: 24px;
                    padding: 10px;
                    margin-left: -10px;
                    border-radius: 100%;
                }
            }

            .logo {
                text-decoration: none;

                .logo2-img {
                    height: 60px;
                    width: auto;
                    margin-top: -10px;
                }
    
                .sitename {
                    color: #98c0ea;
                    font-size: 30px;
                    font-weight: bold;
                    margin-left: 10px;
                    text-shadow: -1px 1px 0px #002e5f;
                }
            }
        }
    }
}

.page-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    .actions {
        flex-shrink: 0;
    }

    h1 {
        font-size: 24px;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 0;
    }
}


header {
    .stack {
        .stack-item {
            .logo {
                .d-flex {
                    justify-content: start !important;
                }
            }
        }
        .stack-item:first-child {
            width: 84px;

            .menu-toggler {
                margin-right: 0 !important;
            }
            .navbar {
                display: none;
            }
        }
    }
}

.caminho {
    margin-top: 65px;
}

@media (max-width: 940px) {
    .menu {
        .btn {
            display: none;
        }
    }
}


@media (max-width: 768px) {

    .caminho {
        display: none;
    }
}

@media (max-width: 320px) {

    .sitename {
        font-size: 18px !important;
    }
}