<header>
    <div class="container-fluid">
      <div class="stack">
        <div class="stack-item" style="width: 84px;">
          <div class="d-flex flex-row align-items-center">
            <div class="menu-toggler mr-4 d-flex align-items-center">
              <i class="icon-menu icons" style="font-size: 24px;" (click)="ToggleSideBar()"></i>
            </div>
          </div>
        </div>
        <div class="stack-item float-left">
          <a class="logo" routerLink="/">
            <div class="d-flex flex-row align-items-center">
              <img class="logo-img" src="assets/img/logo.png" />
            </div>
          </a>        
        </div>
      </div>
    </div>
  </header>
  