<div class="modal-pos">
    <div class="modal-header">
        <h4 class="modal-title">{{informacoesSobreOCurso.nomeCurso}}</h4>
        <button type="button" class="close pull-right" aria-label="Fechar" (click)="fechar()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <tabset class="tab-abas">
            <tab id="tab-dados-curso">
                <ng-template tabHeading>
                    <span>Sobre o curso</span>
                </ng-template>

                <p><b>Duração do curso: </b>{{informacoesSobreOCurso.duracao}}</p>
                <p><b>Modalidade: </b>{{informacoesSobreOCurso.modalidade}}</p>
                <p><b>Periodicidade: </b>{{informacoesSobreOCurso.diasAula}}</p>
                <p><b>Horário: </b>{{informacoesSobreOCurso.horario}}</p>
                <p><b>Frequência: </b>{{informacoesSobreOCurso.frequencia}}</p>
                <p><b>Carga horária: </b>{{informacoesSobreOCurso.cargaHoraria}}</p>
                <p><b>Unidade: </b>{{informacoesSobreOCurso.unidade}}</p>
                <p><b>Título: </b>{{informacoesSobreOCurso.titulo}}</p>
                <hr>
                <p><b>Público-alvo: </b>{{informacoesSobreOCurso.publicoAlvo}}</p>
                <p><b>Competências desenvolvidas: </b>{{informacoesSobreOCurso.competencias}}</p>
                <p><b>Diferencial: </b>{{informacoesSobreOCurso.diferencial}}</p>
                <p><b>Pré-requisito: </b>{{informacoesSobreOCurso.preRequisito}}</p>
            </tab>

            <tab id="tab-grade">
                <ng-template tabHeading>
                    <span>Grade curricular</span>
                </ng-template>

                <p class="mb-4"><b>{{informacoesSobreOCurso.grade1}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade2}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade3}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade4}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade5}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade6}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade7}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade8}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade9}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade10}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade11}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade12}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade13}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade14}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade15}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade16}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade17}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade18}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade19}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade20}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade21}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade22}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade23}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade24}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade25}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade26}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade27}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade28}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade29}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade30}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade31}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade32}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade33}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade34}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade35}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade36}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade37}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade38}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade39}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade40}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade41}}</b></p>
                <p class="mb-4"><b>{{informacoesSobreOCurso.grade42}}</b></p>
            </tab>
        </tabset>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="fechar()">Fechar</button>
    </div>
</div>