<div class="primeira-parte">
    <div class="row fundo-home">
        <div class="imagem mr-5">
            <img class="tecnologia-img" src="assets/img/tecnologia.png" />
        </div>
        <div class="texto ml-5">
            <h1>Monte sua pós-graduação, com a Unigranrio</h1>
            <h1>você pode montar seu curso de forma</h1>
            <h1>flexível e personalizada.</h1>
            <h2>Você pode montar sua pós escolhendo em quais áreas de</h2>
            <h2>conhecimento do curso deseja focar.</h2>
        </div>
    </div>
</div>

<div class="segunda-parte">
    <div class="row fundo-home2">
        <div class="texto">
            <h1>Pós-graduação em 6 meses. Mais conhecimento</h1>
            <h1>em menos tempo, sem precisar correr</h1>
            <h1>contra o relógio.</h1>
            <h2>A duração varia de acordo com o curso escolhido e com a</h2>
            <h2>disponibilidade de tempo do estudante, o que</h2>
            <h2>resulta em uma pós-graduação com</h2>
            <h2>duração a partir de 6 meses.</h2>
        </div>
        <div class="imagem">
            <img class="time-img" src="assets/img/time.png" />
        </div>
    </div>
</div>

<div class="terceira-parte">
    <div class="row fundo-home">
        <div class="imagem">
            <img class="city-img" src="assets/img/city.png" />
        </div>
        <div class="texto">
            <h1>Tradição e infraestrutura. Com mais de 45 anos dedicados</h1>
            <h1>ao ensino de excelência, com uma infraestrutura</h1>
            <h1>de qualidade e professores altamente</h1>
            <h1>qualificados.</h1>
            <h2>Atualmente, a Unigranrio conta com 45 cursos de graduação nas modalidades</h2>
            <h2>presencial, semipresencial e à distância; um modelo de pós-graduação</h2>
            <h2>lato sensu inovador, onde o candidato pode obter certificado de</h2>
            <h2>Especialização em 6 meses e MBA em 12 meses; cursos de</h2>
            <h2>atualização em várias áreas; e 6 programas de </h2>
            <h2>pós-graduação de mestrado e doutorado.</h2>
        </div>
    </div>
</div>

<div class="fundo-home3">
    <div class="quarta-parte mt-5">
        <h1>Conheça nossos cursos:</h1>
        <div class="botoes mb-5 mt-4">
            <button type="button" class="btn b1 btn-primary btn-lg" [routerLink]="['/cursos-pos-presenciais']">Cursos de Pós-Graduação Presenciais</button>
            <button type="button" class="btn b2 btn-primary btn-lg" [routerLink]="['/cursos-pos-EAD']">Cursos de Pós-Graduação à Distância</button>
            <button type="button" class="btn b3 btn-primary btn-lg" [routerLink]="['/cursos-atualizacao']">Cursos de Atualização</button>
        </div>
    </div>
</div>
