.portlet {
    box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .08);
    background-color: rgb(160, 204, 255);
    padding: 20px;
    margin-bottom: 2.2rem;

    .portlet-title {
        margin: -20px -20px 20px -20px;
        padding: 15px 20px 13px 20px;
        border-top: 3px solid #2c2e3e;
        color: #5f5f5f;
        line-height: 1;
        font-weight: 600;
        border-bottom: 1px solid #f2f3f8;
    }
}

.fundo-home {
    box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .08);
    background-color: rgb(160, 204, 255);
    padding: 20px;
    margin-left: -10px;
    margin-right: -10px;
}

.fundo-home2 {
    box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .08);
    background-color: rgb(48, 106, 172);
    padding: 20px;
    margin-left: -10px;
    margin-right: -10px;
}

modal-container .modal-lg-1 {
    width: 50%;
    max-width: inherit;

    .modal-body {
        max-height: 80vh;
        overflow-y: scroll;
    }
    .modal-body.overflow-hidden {
        max-height: inherit;
        overflow-y: visible;
    }
    .modal-body.overflow-hidden.no-padding {
        max-height: inherit;
        overflow-y: visible;
        padding: 1px !important;   
       
    }
    .modal-overflow-visible .modal-body {
        overflow: visible !important;
    }
}

.modal-pos {
    .modal-header {
        background: rgb(28, 98, 173);
    }
    
    .modal-title {
        color: rgb(255, 255, 255);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .modal-body {
        text-align: justify;
    
        b {
            color: rgb(13, 53, 114);
        }
    }
}

.tab-abas {

    .tab-content {
        background-color: #FFF;
        border-left: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
        border-right: 1px solid #CCC;
        padding: 20px;

    }
    .nav-tabs {
        margin-top:3px;
        li a {
            // border-radius: 0;

            border-radius: 0;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            border-right: 1px solid #dee2e6 !important;
            border-left: 1px solid #dee2e6 !important;
            color: gray;
        }
        li.active a {
            border-top: 4px solid #98c0ea;
            padding-top: 7px;
            color: #fbfbfb;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
        }
        .nav-link {
            border: 1px solid transparent;
            border-top: 4px solid #e2e2e2;
            background-color: #FFF;
            .error {
                color: #ff0000 !important;
            }

        }

        .nav-link.active {
            background-color: #09498e !important;
        }
        .nav-link.active .error {
            color: white !important;
        }


        .nav-item {
            margin-bottom: 0px;

        }
    }
}